@font-face {
   font-family: 'CormorantGaramond-SemiBold';
   font-display: swap;
   src: url('file:///Users/sandra/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-03-27_145628/fonts/CormorantGaramond-SemiBold/font.ttf');
}
